<h1>商品検索</h1>
<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.text_field :keyword %>
  <%= form.submit "検索" %>
<% end %>
<% if @items.present? %>
  <%= render partial: "item" %>
<% end %>
